.body {
    padding: 0;
    margin: 0;
    background: url(https://cdn.hipwallpaper.com/i/59/52/f7ZILh.jpg) no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif !important;
}

.forms {
    width: 20%;
    margin: auto;
}
.whiteText {
    color: whitesmoke;
}
.blackText{
    color: black;
}
.center{
    margin: auto;
}
